<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="/org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
  <include resource="/org/springframework/boot/logging/logback/file-appender.xml"/>
  <include resource="/org/springframework/boot/logging/logback/console-appender.xml"/>
  <include resource="/org/springframework/boot/logging/logback/default.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{YYYY-MM-DD HH:mm:ss.SSS} | %-10.10thread | %5p | %-36.36logger{36} | %X{tenantCode} | %m%n</pattern>
    </encoder>
  </appender>

  <property name="LOG_DIR" value="./var/log"/>
  <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/production.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/production-%d{YYYY-MM-DD-HH-mm}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <timeBasedFileNamingAndTriggerPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>1KB</maxFileSize>
      </timeBasedFileNamingAndTriggerPolicy>
    </rollingPolicy>

    <encoder>
      <pattern>%d{YYYY-MM-DD HH:mm:ss.SSS} | %-10.10thread | %5p | %-36.36logger{36} | %X{tenantCode} | %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO" >
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ROLLING_FILE"/>
  </root>

</configuration>